canvas{
  border:1px solid black;
  background-color:burlywood;
}

body{
  background: lightgoldenrodyellow;
}
.slider-width{
  width: 50%;
}

button{
  background-color:yellow
}

.col-centered{
    float: relative;
    margin:5px;
}